* {
  padding: 0;
  margin: 0;
  border: 0;
}

*:focus {
  outline: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: rgb(53, 67, 89);
  font-family: 'Roboto', sans-serif;
  color: white;
}

header {
  padding: 15px;
  margin-bottom: 20px;
}

.anime-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 900px;
}

.anime-container > img {
  flex-basis: 225px;
}

.anime-information {
  margin-left: 15px;
}

.anime-information > section {
  margin: 15px 0px;
}

.anime-information > section > h4 {
  margin-bottom: 5px;
}

button {
  background-color: rgb(45, 130, 84);
  padding: 15px;
  color: white;
  box-shadow: 0px 5px 0px rgb(36, 102, 66);
  border-radius: 5px;
  font-size: 24px;
}

button:active {
  box-shadow: none;
}
