* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: rgb(53, 67, 89);
  font-family: 'Roboto', sans-serif;
  color: white;
}

header {
  padding: 15px;
  margin-bottom: 20px;
}

#loading-container {
  margin: 0 auto;
  width: 600px;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-container img {
  width: 100%;
}

.anime-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
}

.anime-container > img {
  flex-basis: 225px;
}

.anime-information {
  margin-left: 15px;
}

.anime-information > section {
  margin: 15px 0px;
}

.anime-information > section > h4 {
  margin-bottom: 5px;
}

.buttons-container {
  margin-top: 50px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.btn {
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  display: block;
  text-decoration: none;
  margin-left: 10px;
}

.btn:first-child {
  margin-left: 0px;
}

#pickRandomAnimeBtn {
  background-color: rgb(45, 130, 84);
  box-shadow: 0px 5px 0px rgb(36, 102, 66);
}

#myanimelistlink {
  background-color: rgb(53, 136, 196);
  box-shadow: 0px 5px 0px rgb(40, 101, 145);
}

#pickRandomAnimeBtn:active,
#myanimelistlink:active {
  margin-top: 5px;
  box-shadow: none;
}

.btn:active .btn {
  margin-top: 5px;
}

.stats {
  margin-top: 15px;
  list-style: none;
}

.stats li {
  margin-bottom: 5px;
}

.stats li:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 920px) {
  .anime-container {
    flex-wrap: wrap;
    width: 100%;
  }

  .anime-information {
    margin: 0;
    padding: 15px;
  }

  .anime-information #anime-title,
  .anime-information #anime-title-jp {
    text-align: center;
  }

  .buttons-container {
    margin-top: 0px;
    flex-wrap: wrap;
  }

  .btn {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  #loading-container {
    width: 100%;
  }
}
