// Background color
$background-primary: rgb(53, 67, 89);
$background-secondary: rgb(81, 101, 133);


// Buttons colors
$button-primary: rgb(45, 130, 84);
$button-primary-shadow: 0 5px 0 rgb(36, 102, 66);

$button-secondary: rgb(53, 136, 196);
$button-secondary-shadow: 0 5px 0 rgb(40, 101, 145);