/* Global styles */
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-primary;
  padding-bottom: 100px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  cursor: pointer;
}

h1 {
  margin-bottom: 15px;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

.btn {
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  &.btn-primary {
    background-color: $button-primary;
    box-shadow: $button-primary-shadow;
  }

  &.btn-secondary {
    background-color: $button-secondary;
    box-shadow: $button-secondary-shadow;
  }
}

a.icon-btn {
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}