/* Global styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
	// Background color
	--background-primary: rgb(53, 67, 89);
	--background-secondary: rgb(81, 101, 133);

	// Buttons colors
	--button-primary: rgb(45, 130, 84);
	--button-primary-shadow: 0 5px 0 rgb(36, 102, 66);

	--button-secondary: rgb(53, 136, 196);
	--button-secondary-shadow: 0 5px 0 rgb(40, 101, 145);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary);
  padding-bottom: 100px;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
  position: relative;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  cursor: pointer;
}

h1 {
  margin-bottom: 15px;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

.btn {
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  &.btn-primary {
    background-color: var(--button-primary);
    box-shadow: var(--button-primary-shadow);
  }

  &.btn-secondary {
    background-color: var(--button-secondary);
    box-shadow: var(--button-secondary-shadow);
  }
}

a.icon-btn {
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
