@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@layer base {
	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4, h5, h6 {
		@apply text-lg;
	}
}

:root {
	// Background color
	--background-primary: rgb(53, 67, 89);
	--background-secondary: rgb(81, 101, 133);

	// Buttons colors
	--button-primary: rgb(45, 130, 84);
	--button-primary-shadow: 0 5px 0 rgb(36, 102, 66);

	--button-secondary: rgb(53, 136, 196);
	--button-secondary-shadow: 0 5px 0 rgb(40, 101, 145);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-primary);
  padding-bottom: 100px;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
  position: relative;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  cursor: pointer;
}

h1 {
  margin-bottom: 15px;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

.btn {
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  &.btn-primary {
    background-color: var(--button-primary);
    box-shadow: var(--button-primary-shadow);
  }

  &.btn-secondary {
    background-color: var(--button-secondary);
    box-shadow: var(--button-secondary-shadow);
  }
}

a.icon-btn {
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.app {
	width: 100%;
	color: white;

	header {
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h1 {
			margin: 0;
		}

		.header-menu {
			margin-left: 2em;
		}
	}

	.app-container {
		width: 100%;
		margin-top: 100px;
		display: flex;
		justify-content: center;

		@media (max-width: 900px) {
			margin-top: 50px;
		}
	}
}
